<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <% categories.each do |category| %>
                <h4><%= category.name %></h4>
                <% cache do %>
                    <!--Sub Categories-->
                    <% unless category.children.empty? %>
                        <div class="side-bar-title">Sub Categories</div>
                        <% category.children.each do |sub_category| %>
                            <%= link_to sub_category.name, home_category_url(sub_category.id), class: 'list-group-item' %>
                        <% end %>
                    <% end %>

                    <!--Brands-->
                    <div class="side-bar-title">Browse by Brand</div>
                    <% category.all_brands.each do |brand| %>
                        <% if defined?(brands) %>
                            <% if brands.include?(brand) %>
                                <%= link_to brand.name, "/product/search?term=#{brand.name}", class: 'list-group-item' %>
                            <% end %>
                        <% else %>
                            <%= link_to brand.name, "/product/search?term=#{brand.name}", class: 'list-group-item' %>
                        <% end %>
                    <% end %>

                <% end %>
            <% end %>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <% products.each do |product| %>
                <%= render partial: 'home/product', locals: { product: product } %>
            <% end %>
        </div>
    </div>
</div>