<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <% active_campaigns = Campaign.active %>
                            <% cache do %>
                                <% active_campaigns.each_with_index do |_, index| %>
                                    <li data-target="#carousel-example-generic"
                                        data-slide-to="<%= index %>"
                                        class="<%= index == 0 ? 'active' : '' %>"></li>
                                <% end %>
                            <% end %>
                        </ol>
                        <div class="carousel-inner campaign">
                            <% cache do %>
                                <% active_campaigns.each_with_index do |campaign, index| %>
                                    <div class="item <%= 'active' if index == 0 %>">
                                        <a href="<%= campaign.target_url %>"><%= image_tag "#{campaign.image_id}_campaign", height: '400' %></a>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <% categories.each do |category| %>
                <% products = category.all_children.collect(&:products).flatten.sample(3)
                    next if products.empty?
                %>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Browse <strong><%= category.name %></strong></h4>
                    </div>
                </div>
                <div class="row">
                    <% products.each do |product| %>
                        <%= render partial: 'home/product', locals: { product: product } %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>

